<!--
  ~ (C) Copyright 2008-2019 hSenid Software International (Pvt) Limited.
  ~
  ~ All Rights Reserved.
  ~
  ~ These materials are unpublished, proprietary, confidential source code of
  ~ hSenid Software International (Pvt) Limited and constitute a TRADE SECRET
  ~ of hSenid Software International (Pvt) Limited.
  ~
  ~ hSenid Software International (Pvt) Limited retains all title to and intellectual
  ~ property rights in these materials.
  ~
  -->

<form action="#" th:action="@{/update/{id}(id=${user.id})}" th:object="${user}" method="post">
    <input type="text" th:field="*{firstname}" id="First Name">
    <span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></span>
    <label for="lastname">Last Name</label>
    <input type="text" th:field="*{lastname}" id="Last Name">
    <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span>
    <br/>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <label for="contactno">Contact No</label>
    <input type="text" th:field="*{contactno}" id="contactno" placeholder="Contact No">
    <span th:if="${#fields.hasErrors('contactno')}" th:errors="*{contactno}"></span>
    <br/>
    <input type="submit" value="Update User">
</form>